#tombol-1:hover{
    border-color: blue;
    color: blue;
}

.input-group{
    width: 80%;
    margin: auto;
}

.footer {
    width: 100%;
    bottom: 0;
    position: absolute;
    font-size: 14px;
}

.vh-80{
    height: 80vh;
}

